version: "3"
services:
  prometheus-opentelemetry-example-app:
    image: openjdk:11.0.16-jre@sha256:356949c3125c4fa8104745e7ea92bd995da4567634e6599b470d2f972d13e0e2
    network_mode: host
    ports:
      - "5005:5005"
    volumes:
      - ./target/example-exporter-opentelemetry.jar:/example-exporter-opentelemetry.jar
    command:
      - java
      - -jar
      #- -agentlib:jdwp=transport=dt_socket,server=y,suspend=y,address=*:5005
      - /example-exporter-opentelemetry.jar
  collector:
    image: otel/opentelemetry-collector-contrib:0.143.0@sha256:3bc07732530c87c53f9103b01a3afed972fdeba26087a590c1098781736e58c2
    network_mode: host
    volumes:
      - ./config/otelcol-config.yaml:/config.yaml
    command:
      - --config=file:/config.yaml
  prometheus:
    image: prom/prometheus:v3.8.1@sha256:2b6f734e372c1b4717008f7d0a0152316aedd4d13ae17ef1e3268dbfaf68041b
    network_mode: host
    volumes:
      - ./config/prometheus.yaml:/prometheus.yaml
    command:
      - --enable-feature=exemplar-storage
      - --enable-feature=native-histograms
      - --web.enable-remote-write-receiver
      - --config.file=/prometheus.yaml
