version: "3"
services:
  prometheus-opentelemetry-example-app:
    image: openjdk:11.0.16-jre@sha256:356949c3125c4fa8104745e7ea92bd995da4567634e6599b470d2f972d13e0e2
    network_mode: host
    ports:
      - "5005:5005"
    volumes:
      - ./target/example-exporter-opentelemetry.jar:/example-exporter-opentelemetry.jar
    command:
      - java
      - -jar
      #- -agentlib:jdwp=transport=dt_socket,server=y,suspend=y,address=*:5005
      - /example-exporter-opentelemetry.jar
  collector:
    image: otel/opentelemetry-collector-contrib:0.137.0@sha256:886722fe0f37af9d1fe24d29529253ec59fbf263b3b1df4facaf221373e19d23
    network_mode: host
    volumes:
      - ./config/otelcol-config.yaml:/config.yaml
    command:
      - --config=file:/config.yaml
  prometheus:
    image: prom/prometheus:v3.6.0@sha256:76947e7ef22f8a698fc638f706685909be425dbe09bd7a2cd7aca849f79b5f64
    network_mode: host
    volumes:
      - ./config/prometheus.yaml:/prometheus.yaml
    command:
      - --enable-feature=exemplar-storage
      - --enable-feature=native-histograms
      - --web.enable-remote-write-receiver
      - --config.file=/prometheus.yaml
