root = true

[*]
max_line_length = 100
indent_size = 2

[{version-rules.xml,maven-wrapper.properties}]
max_line_length = 200

[*.java]
# checked by google-java-format
max_line_length = 200

[pom.xml]
max_line_length = 110

[*.py]
# checked by black
indent_size = 4
