root = true

[*]
max_line_length = 100
indent_size = 2

[{version-rules.xml,maven-wrapper.properties,checkstyle.xml,docker-compose.yaml,docker-compose.yml,Dockerfile,example_target_info.json,mise.toml,mvnm,mvnw.cmd,generate-protobuf.sh,.gitleaksignore,*.json5}]
max_line_length = 200

[{grafana-dashboard-*.json,.editorconfig,super-linter.env}]
max_line_length = 300

[pom.xml]
max_line_length = 120

[*.py]
# checked by black
indent_size = 4
max_line_length = 120

[{.mise/tasks/build-release.sh,.mise/tasks/lint/super-linter.sh,.github/workflows/multi-version-test.yml}]
max_line_length = 200