[tools]
"go:github.com/gohugoio/hugo" = "v0.152.2"
"go:github.com/grafana/oats" = "0.4.1"
java = "temurin-25.0.0+36.0.LTS"
lychee = "0.21.0"
protoc = "32.1"

[tasks.ci]
description = "CI Build"
run = "./mvnw clean install"
env.REQUIRE_PROTO_UP_TO_DATE = "true"
env.PROTO_GENERATION = "true"

[tasks.format]
description = "format source code"
run = "./mvnw spotless:apply"

[tasks.clean]
description = "clean all modules"
run = "./mvnw clean"

[tasks.compile]
description = "bare compile, ignoring formatting and linters"
run = "./mvnw install -DskipTests -Dspotless.check.skip=true -Dcoverage.skip=true -Dcheckstyle.skip=true -Dwarnings=-nowarn"

[tasks.generate]
description = "bare compile, ignoring formatting and linters"
run = "./mvnw clean install -DskipTests -Dspotless.check.skip=true -Dcoverage.skip=true -Dcheckstyle.skip=true -Dwarnings=-nowarn"
env.PROTO_GENERATION = "true"

[tasks.test]
description = "run unit tests, ignoring formatting and linters"
run = "./mvnw test -Dspotless.check.skip=true -Dcoverage.skip=true -Dcheckstyle.skip=true -Dwarnings=-nowarn"

[tasks.test-all]
description = "run all tests"
run = "./mvnw verify"

[tasks.build]
description = "build all modules wihthout tests"
run = "./mvnw install -DskipTests -Dcoverage.skip=true"

[tasks.lint]
run = "scripts/super-linter.sh"

[tasks.lint-links]
run = "lychee --include-fragments ."

[tasks.lint-bom]
run = "scripts/lint-bom.sh"

[tasks.lint-rest]
description = "All lints not covered by super linter"
depends = ["lint-links", "lint-bom"]

[tasks.acceptance-test]
description = "Run OATs acceptance tests"
depends = "build"
run = "oats -timeout 5m examples/"

[tasks.set-version]
run = './scripts/set-version.sh {{arg(name="version")}}'

[tasks.javadoc]
run = [
  "./mvnw -B clean compile javadoc:javadoc javadoc:aggregate -P 'javadoc,!default'",
  "rm -rf ./docs/static/api",
  "mv ./target/reports/apidocs ./docs/static/api && echo && echo 'ls ./docs/static/api' && ls ./docs/static/api"
]

[tasks.set-gh-pages-version]
run = "./scripts/set-release-version-github-pages.sh"

[tasks.gh-pages-dev]
description = "Build GitHub pages for dev"
run = "hugo server -D"
dir = "docs"

[tasks.build-gh-pages]
description = "Build GitHub pages"
depends = ["javadoc", "set-gh-pages-version"]
# For maximum backward compatibility with Hugo modules
env = { HUGO_ENVIRONMENT = "production", HUGO_ENV = "production" }
dir = "docs"
run = [
  "hugo --gc --minify --baseURL ${BASE_URL}/",
  "echo 'ls ./public/api' && ls ./public/api"
]

[tasks.build-release]
description = "Build release"
run = "./scripts/build-release.sh"
env.TAG = "1.5.0-SNAPSHOT"

[settings]
# to get lock file support and for go backend
experimental = true

