[env]
PROTO_GENERATION = "true"

[tools]
"go:github.com/grafana/oats" = "latest"
java = "temurin-17.0.13+11"
protoc = "latest"

[tasks.ci]
description = "CI Build"
run = [
  "./mvnw clean install",
  # just to check if javadoc can be generated
  "./mvnw javadoc:javadoc -P javadoc"
]
env = { REQUIRE_PROTO_UP_TO_DATE = "true" }

[tasks.format]
description = "format source code"
run = "./mvnw spotless:apply"

[tasks.test]
description = "run unit tests, ignoring formatting and linters"
run = "./mvnw test -DskipTests=true -Dspotless.check.skip=true -Dcoverage.skip=true -Dcheckstyle.skip=true -Dwarnings=-nowarn"

[tasks.test-all]
description = "run all tests"
run = "./mvnw verify"

[tasks.build]
description = "build all modules wihthout tests"
run = "./mvnw clean install -DskipTests"

[tasks.acceptance-test]
description = "Run OATs acceptance tests"
depends = "build"
run = "oats -timeout 5m examples/"

[tasks.native-test]
depends = "build"
tools.java = "graalvm-22.3.3+java17"
run = "../../mvnw  test -PnativeTest"
dir = "integration-tests/it-spring-boot-smoke-test"

[tasks.set-version]
run = 'mvn versions:set -DnewVersion={{arg(name="version")}}'

[settings]
# to get lock file support and for go backend
experimental = true

