---
name: OpenTelemetry Acceptance Tests

on: [pull_request]

permissions: {}

jobs:
  acceptance-tests:
    runs-on: ubuntu-24.04
    steps:
      - name: Check out
        with:
          persist-credentials: false
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
      - uses: jdx/mise-action@9dc7d5dd454262207dea3ab5a06a3df6afc8ff26 # v3.4.1
        with:
          version: v2025.11.3
          sha256: 2b01d2063ac9fb6988ed5bfa087bebfba4ae6300b0739231bb534924acd31306
      - name: Run acceptance tests
        run: mise run acceptance-test
