---
name: OpenTelemetry Acceptance Tests

on: [pull_request]

permissions: {}

jobs:
  acceptance-tests:
    runs-on: ubuntu-24.04
    steps:
      - name: Check out
        with:
          persist-credentials: false
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
      - uses: jdx/mise-action@d16887ba50704baed7de72bd1e82e04391e4457a # v3.5.0
        with:
          version: v2025.11.5
          sha256: 5dc683fc1ff3b1d2da41b962af110186c8caa059ebfd65ae48a2969c9a13de58
      - name: Run acceptance tests
        run: mise run acceptance-test
