name: Deploy Documentation to Github Pages

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

  # Runs on pushes targeting the 1.0.x branch
  # todo revert this
#on:
#  push:
#    branches:
#      - main
#    tags:
#      - "v*.*.*" # updates the version in the docs

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

permissions: {}

# Allow only one concurrent deployment, skipping runs queued between the run in-progress and latest queued.
# However, do NOT cancel in-progress runs as we want to allow these production deployments to complete.
concurrency:
  group: "pages"
  cancel-in-progress: false

# Default to bash
defaults:
  run:
    shell: bash

jobs:
  # Build job
  build:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
        with:
          persist-credentials: false
          fetch-tags: "true"
          fetch-depth: 0
      - uses: jdx/mise-action@7a111ead46986ccad89a74ad013ba2a7c08c9e67 # v2.1.1
        with:
          cache: "false"
      - name: Prepare GitHub Pages
        run: mise run prepare-gh-pages
        with:
          permissions: block
      - name: Setup Pages
        id: pages
        uses: actions/configure-pages@v5
      - name: Build GitHub Pages
        run: mise run build-gh-pages
        with:
          permissions: block
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: ./docs/public
          # Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages

  # Deployment job
  deploy:
    permissions:
      contents: read
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-24.04
    needs: build
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
