---
name: Lint What Super Linter Can't

on: [pull_request]

permissions: {}

jobs:
  lint:
    runs-on: ubuntu-24.04
    steps:
      - name: Check out
        with:
          persist-credentials: false
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: jdx/mise-action@146a28175021df8ca24f8ee1828cc2a60f980bd5 # v3.5.1
        with:
          version: v2025.12.12
          sha256: 9dc747b7baed63f74dc3c729f0f825201b585035944e8fff3e255d5124b10960
      - name: Lint
        run: mise run lint:rest
