---
name: Lint What Super Linter Can't

on: [pull_request]

permissions: {}

jobs:
  lint:
    runs-on: ubuntu-24.04
    steps:
      - name: Check out
        with:
          persist-credentials: false
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - uses: jdx/mise-action@c94f0bf9e520b150e34c017db785461f7e71c5fb # v2.1.1
        env:
          MISE_ENABLE: lychee,zizmor
      - name: Lint
        run: mise run lint-rest
