---
name: Lint What Super Linter Can't

on: [pull_request]

permissions: {}

jobs:
  lint:
    runs-on: ubuntu-24.04
    steps:
      - name: Check out
        with:
          persist-credentials: false
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: jdx/mise-action@146a28175021df8ca24f8ee1828cc2a60f980bd5 # v3.5.1
        with:
          version: v2026.1.1
          sha256: 986e4630dfdfaae41d09c0317507e252c7403d72839fc66844b534c120a3dc57
      - name: Lint
        run: mise run lint:rest
