---
name: GraalVM Native Tests

on: [pull_request]

permissions: {}

jobs:
  native-tests:
    runs-on: ubuntu-24.04
    steps:
      - name: Check out
        with:
          persist-credentials: false
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
      - uses: jdx/mise-action@d16887ba50704baed7de72bd1e82e04391e4457a # v3.5.0
        with:
          version: v2025.11.7
          sha256: b2fb7d4c8dad559ede4fb346fb12171298a8ec8648f7923730abcd92e9dda15c
        env:
          MISE_ENV: native
      - name: Run native tests
        run: mise run test
