---
name: GraalVM Native Tests

on: [pull_request]

permissions: {}

jobs:
  native-tests:
    runs-on: ubuntu-24.04
    steps:
      - name: Check out
        with:
          persist-credentials: false
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - uses: jdx/mise-action@6d1e696aa24c1aa1bcc1adea0212707c71ab78a8 # v3.6.1
        with:
          version: v2026.1.7
          sha256: d98523f15392ab17909a55560244667aa81122766209b816d9a9b9585109bfea
          working_directory: .mise/envs/native
      - name: Run native tests
        working-directory: .mise/envs/native
        run: mise native-test
