---
name: Deploy to Maven Central

on:
  push:
    tags:
      - "v*.*.*"

jobs:
  deploy:
    if: ${{ github.repository == 'prometheus/client_java' }}
    runs-on: ubuntu-24.04
    permissions: {}

    steps:
      - name: Debug gpg key
        env:
          GPG_SIGNING_KEY: ${{ secrets.GPG_SIGNING_KEY }}
        run: |
          echo "${#GPG_SIGNING_KEY}"
          echo "${GPG_SIGNING_KEY}" | gpg --batch --import-options import-show --import
      - name: Checkout Plugin Repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          persist-credentials: false

      - uses: jdx/mise-action@146a28175021df8ca24f8ee1828cc2a60f980bd5 # v3.5.1
        with:
          version: v2025.11.11
          sha256: 707b686ef2ea040ee98138287ac415039d8e8c7d6783c3d139eda8209497fea2
          cache: false

      - name: Build release version
        run: mise run build-release
        env:
          TAG: ${{ github.ref_name }}

      - name: Set up Apache Maven Central
        uses: actions/setup-java@dded0888837ed1f317902acf8a20df0ad188d165 # v5
        with:
          distribution: "temurin"
          java-version: "21"
          server-id: ossrh
          server-username: MAVEN_USERNAME
          server-password: MAVEN_CENTRAL_TOKEN
          gpg-private-key: ${{ secrets.GPG_SIGNING_KEY }}
          gpg-passphrase: MAVEN_GPG_PASSPHRASE

      - name: Publish to Apache Maven Central
        run: mvn deploy -P 'release,!default' -Dmaven.test.skip=true
        env:
          MAVEN_USERNAME: ${{ secrets.SONATYPE_MAVEN_REPOSITORY_USERNAME }}
          MAVEN_CENTRAL_TOKEN: ${{ secrets.SONATYPE_MAVEN_REPOSITORY_PASSWORD }}
          MAVEN_GPG_PASSPHRASE: ${{ secrets.GPG_SIGNING_PASSPHRASE }}
