---
name: Deploy to Maven Central

on:
  push:
    tags:
      - "v*.*.*"

jobs:
  deploy:
    if: ${{ github.repository == 'prometheus/client_java' }}
    runs-on: ubuntu-24.04
    permissions: {}

    steps:
      - name: Debug gpg key
        env:
          GPG_SIGNING_KEY: ${{ secrets.GPG_SIGNING_KEY }}
        run: |
          echo "${#GPG_SIGNING_KEY}"
          echo "${GPG_SIGNING_KEY}" | gpg --batch --import-options import-show --import
      - name: Checkout Plugin Repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
        with:
          persist-credentials: false

      - uses: jdx/mise-action@9dc7d5dd454262207dea3ab5a06a3df6afc8ff26 # v3.4.1
        with:
          version: v2025.11.3
          sha256: 2b01d2063ac9fb6988ed5bfa087bebfba4ae6300b0739231bb534924acd31306
          cache: false

      - name: Build release version
        run: mise run build-release
        env:
          TAG: ${{ github.ref_name }}

      - name: Set up Apache Maven Central
        uses: actions/setup-java@dded0888837ed1f317902acf8a20df0ad188d165 # v5
        with:
          distribution: "temurin"
          java-version: "21"
          server-id: ossrh
          server-username: MAVEN_USERNAME
          server-password: MAVEN_CENTRAL_TOKEN
          gpg-private-key: ${{ secrets.GPG_SIGNING_KEY }}
          gpg-passphrase: MAVEN_GPG_PASSPHRASE

      - name: Publish to Apache Maven Central
        run: mvn deploy -P 'release,!default' -Dmaven.test.skip=true
        env:
          MAVEN_USERNAME: ${{ secrets.SONATYPE_MAVEN_REPOSITORY_USERNAME }}
          MAVEN_CENTRAL_TOKEN: ${{ secrets.SONATYPE_MAVEN_REPOSITORY_PASSWORD }}
          MAVEN_GPG_PASSPHRASE: ${{ secrets.GPG_SIGNING_PASSPHRASE }}
